// Primary colors
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-saturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-grayish-blue-opacity: hsl(227, 10%, 76%);

// Neutral colors
$dark-gray: hsl(0, 0%, 59%);