@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "kumbh sans", sans-serif;
  background-color: #19a2ae;
}

section {
  background: #19a2ae;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
section .bg-circle .bg-top,
section .bg-circle .bg-bottom {
  position: absolute;
}
section .bg-circle .bg-top {
  top: 0;
  left: 0;
  transform: translate(-53%, -54%);
  width: 100%;
}
@media (min-width: 48rem) {
  section .bg-circle .bg-top {
    transform: translate(-55%, -54%);
  }
}
@media (min-width: 90rem) {
  section .bg-circle .bg-top {
    transform: translate(-54%, -58%);
  }
}
section .bg-circle .bg-bottom {
  bottom: 0;
  right: 0;
  transform: translate(48%, 44%);
  width: 100%;
}
@media (min-width: 48rem) {
  section .bg-circle .bg-bottom {
    transform: translate(48%, 72%);
  }
}
@media (min-width: 90rem) {
  section .bg-circle .bg-bottom {
    transform: translate(47%, 71%);
  }
}
section .main-container {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #19a2ae;
  transition: all 150ms ease-in-out;
  z-index: 100;
}
section .main-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
section .main-container .top-card img {
  border-radius: 1rem 1rem 0 0;
}
section .main-container .middle-card {
  text-align: center;
}
section .main-container .middle-card .victor-img {
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -3.65rem;
}
section .main-container .middle-card .mid-content {
  margin: 1rem auto 1.5rem auto;
}
section .main-container .middle-card .mid-content h3 {
  color: #2d3248;
}
section .main-container .middle-card .mid-content span,
section .main-container .middle-card .mid-content p {
  color: #6a6f81;
  font-weight: normal;
}
section .main-container .middle-card .mid-content p {
  padding-top: 0.5rem;
}
section .main-container .bottom-card {
  border-top: 1px solid #bcbec8;
  font-size: 0.945rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
section .main-container .bottom-card .card-stats h3 {
  color: #2d3248;
}
section .main-container .bottom-card .card-stats p {
  color: #6a6f81;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}